<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AUTHOR</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author List</title>
</head>
<body>
    <h1>List of Authors</h1>
    <ul>
        {% for author in authors %}
            <li>{{ author.first_name }} {{ author.last_name }}
                <a href="{% url 'author_edit' author.id %}">Edit</a>
                <a href="{% url 'author_delete' author.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'author_create' %}">Add New Author</a>
</body>
</html>

</body>
</html>